<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Products</title>
</head>

<body>

<h1>SerpiJueguitos</h1>
{{#if user}}
    <h3>Bienvenido! {{user.first_name}}</h3>
    <h4>Sesión iniciada de usuario <p id="correo">{{user.email}}</p></h4>
    <button id="logoutButton">Cerrar Sesión</button> <br><br>
    <a href="/carts/{{cartId}}?email={{user.email}}">Ver Carrito</a> <br><br>
{{else}}
    <p>¡Bienvenido a SerpiJueguitos! Por favor, inicia sesión o regístrate para continuar.</p>
    <a href="/sessions/login">Iniciar sesión</a> <br><br>
    <a href="/sessions/register">Registrarse</a> <br><br>
{{/if}}
<div class="container">
    <div class="infoProd">
        <h1>Lista de Productos</h1>
        <div class="detalleProd">
            <div id="productsContainer">
                <ul>
                    {{#each products}}
                    <li>
                        <strong>{{this.title}}</strong><br>
                        Price: ${{this.price}}<br>
                        Stock: {{this.stock}}<br>
                        Category: {{this.category}}<br>
                        <a href="/products/{{this._id}}?email={{../user.email}}">Ver Detalle</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>  
    document.getElementById('logoutButton').addEventListener('click', cerrarSesion);
    function cerrarSesion() {
        localStorage.removeItem("token");
        var userEmail = "{{user.email}}";
        window.location.href = '/logout?email=' + userEmail;
    }
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/user.js"></script>

</body>
</html>