<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>
    {{#each products}}
    <div class="product-item">
        <h2>{{this.title}}</h2>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <button class="add-to-cart" data-product-id="{{this._id}}">Agregar al carrito</button>
        <a href="/products/{{this._id}}">Ver detalles</a>
    </div>
    {{/each}}
    <div id="cart-view">
        
    </div>
    <script>
        const addToCartButtons = document.querySelectorAll('.add-to-cart');
        const cart = [];

        addToCartButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                const productId = event.target.getAttribute('data-product-id');
                cart.push({ productId, quantity: 1 });

                updateCartView(cart);
            });
        });

        function updateCartView(cart) {
            const cartView = document.getElementById('cart-view');
            cartView.innerHTML = '<h2>Carrito de Compras</h2>';
            cart.forEach(item => {
                cartView.innerHTML += `<p>Producto: ${item.productId}, Cantidad: ${item.quantity}</p>`;
            });
        }
    </script>
</body>
</html>