<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>

<body>

    <a href="/">Volver a la lista de productos</a>

    <div class="profile">
        <h1>Perfil de Usuario</h1>
        <p>Nombre: {{first_name}} {{last_name}}</p>
        <p>Correo Electronico: {{email}}</p>
        <p>Edad: {{age}}</p>
        <p>Rol: {{rol}}</p>
        <a href="/sessions/logout">Cerrar Sesion</a>
    </div>

</body>
</html>