<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Products</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header>
        <h1>{{title}}</h1>
        <a href="/">Volver a la lista de productos</a>
    </header>

    <div class="product-details">
        <h2>{{product.title}}</h2>
        <h3>{{product.description}}</h3>
        <p>Precio: ${{product.price}}</p>
        <p>Stock: {{product.stock}}</p>
        <p>Categoria: {{product.category}}</p>
        <button>Agregar al Carrito</button>
    </div>
    
</body>
</html>