<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Cart</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="product-details">
        <p>Carrito ID: {{carts._id}}</p>
        <h2>Productos en el carrito:</h2>
        <ul>
            {{#each carts.products}}
                <li>
                    <p>Producto ID: {{this.productId._id}}</p>
                    <p>Descripcion: {{this.productId.description}}</p>
                    <p>Precio: ${{this.productId.price}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                </li>
            {{/each}}
        </ul>
    </div>

</body>
</html>