<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
</head>
<body>
    <a href="/">Seguir comprando</a>
    <div class="ticket-details">
        <p>Ticket ID: {{tickets._id}}</p>
        <h2>Compra realizada correctamente</h2>
        <ul>
            <li>
                <strong>Resumen de Ticket</strong>
                <p>Código: {{tickets.code}}</p>
                <p>Fecha: {{tickets.purchase_datetime}}</p>
                <p>Monto Total:{{tickets.amount}}</p>
                <p>Comprador: {{tickets.purchaser}}</p>
            </li>
        </ul>
    </div>
    
</body>
</html>